@import url('https://fonts.googleapis.com/css?family=Poiret+One|Quicksand');
/*font-family: 'Poiret One', cursive;*/
/*font-family: 'Quicksand', sans-serif;*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    /*border: 1px solid #333;*/
}
body{
   width: 80%;
   height:100%;
   margin: 0 auto;
   font-family: 'Poiret One', cursive;

}
img,iframe{
	max-width: 100%;
	width: 100%;
	height: auto;
}
h1, h2, h3{
	font-family: 'Quicksand', sans-serif;
    font-weight: lighter; 
}
.contain{
  background-image:url(../images/francesca-saraco-65449-unsplash.jpg);
  border: 2px solid black;
  background-size: cover;
  padding: 0px 10px 600px 10px;
}
header nav{
  margin:-10px;
  background-color: white;
  padding: 6px 0 98px 0;;
}
header nav a{
   float: right;
   display: inline-block;
   text-decoration: none;
   padding:0px 20px 10px;
   margin: 10px 15px;
   color: #3d3d29;
   font-family: 'Poiret One', cursive;
   font-weight: bold;
   font-size: 25px;


}
header nav a.active, header nav a:hover {
  border-radius: 5px;
  border: 3px solid   #9E9589;
    background-color: hsla(31, 33%, 30%, 0.4);
  color: #fff;

}
section{
  background-color: #ededed;
  margin:0;
  height: 100%;
  padding: 30px;
  margin-bottom: 20px;
}
.last-section{
  padding-bottom: 540px;
 }
.logo{
  float: left;
  text-align: left;
  color: #9E9589;

}
.contactH1{
    font-size: 41px;
    text-align: center;
    color: #8F8662;
    padding: 47px 132px;
    margin: 144px 109px 0;
    background-color: white;
    z-index: 1;
    opacity: 0.8;
    font-family: 'Poiret One', cursive;
}
}
/*/////////////////////////////*/
.col-1 {
  float: right;
  width: 30%;
}

.col-2 {
  float: left;
  width: 66%;
}
.map{
  padding: 29px 0 400px;
}
iframe {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 350px;
}
.location{
     float: left;
    padding: 2px 0 130px 33px;

  }
i{
    color: #51514a;
    font-size: 19px;
    padding: 28px 10px 10px;
 
}
h2{
    font-size: 50px;
    font-weight: lighter;
    color: #9E9589;
    text-align: left;
    padding-left: 30px;
}
.box{
    padding: 30px;
    float: right;
    /* background-color: #fff; */
    width: 40%;
    height: 400px;
    margin: 20px 99px 0 58px;
}
.box input, .box textarea{
  padding: 30px;
  border: 2px solid #9E9589;
  border-radius: 4px;
  margin-bottom: 20px;
}
.lastImg{
    float: right;
    height:500px;
    width: 404px;
}
footer{ 
  background-color: #524b3f;
  /*padding: 10% 30% 0;*/
  display: inline-block;
  width: 100%;
}
.footerInput{
  /*padding-top: 10px;*/
   display: inline-block;
   padding:25px;
}
.footerInput form{
     margin: 129px 0 0 -309px;
    float: left;
    width: 50%;
  }
.col-1 .input{
 margin: 10px 30px;
    padding: 20px;
    border: 2px solid #9E9589;
    border-radius: 5px;
}
.icon i{
  color: #fff;
  margin:20px;
  font-size: 50px;
  float: right;
  padding-top: 104px ;
}
[type="submit"]{
    background-color: white;
        border-radius: 5px;
        border: 2px solid;
        color: #333   ;
        padding: 15px 32px;
        text-align: center;
      font-size: 29px;
      font-family: 'Poiret One', cursive;
        margin: 58px 2px 3px 98px;
}
 h3{
      float: left;
    font-size: 37px;
    color: #e5dacb;
    padding: 20px;
    margin-top: 19px;
 }